.index-body{
    font-size: 12px;
    text-align: center;
    background-color: #eef;
}
.container{
    width: 65%;
    height: auto;
    position: absolute;
    left:20%;
    background-color: #fff;
}
.top-message{
    width: 100%;
}
.top-message-left{
    float: left;
}
.top-message-right{
    float: right;
}
.top-pic{
    clear: both;
    float: left;
    width: 25%;
    height: 60px;
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
}
.top-menu{
    float: right;
    width: 75%;
    height: 60px;
    background-image: url(../images/menu.gif);
    background-repeat: no-repeat;
}
.top-midpic{
    clear: both;
    width: 100%;
    height: 112px;
    background-image: url(../images/pcard1.jpg);
    background-repeat: no-repeat;
}
.table-top-menu{
    width: 100%;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px 5px 120px; 
}
 .li-indexbody-left{
    color: #0e3295;
    text-align: left;
    height: 20px;
}
.div-indexbody-left{
    float: left;
    width: 29%;
    margin-left: -4%;
}
.div-indexbody-right{
    float: right;
    width: 70%;
    height: 1000px;
    background-color: #fff4bb;
    text-align: left;
}
a{
    color: #000;
    text-decoration: none;
}
.likea{
    color: #fff;
    text-decoration: none;
}
.iframe-cale{
    width: 100%;
    height: 215px;
    border: 0px;
}
.select-cond{
    width: 45%;
}
.info-search{
    width: 100%;
    border: 0px;
    background-image: url(../images/leftS.jpg);
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    list-style: square inside none;
    color: #0e3295;
}
li{
    width: 100%;
}
#content-indexbody-right{
    width: 100%;
    height: 950px;
    border: 0;
}